<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/flyaway</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">test1234</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>
        <mapping class="pgfsd.entities.Airline"/>
        <mapping class="pgfsd.entities.Destination"/>
        <mapping class="pgfsd.entities.Flight"/>
        <mapping class="pgfsd.entities.User"/>
        <mapping class="pgfsd.entities.Booking"/>


    </session-factory>
</hibernate-configuration>
